[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
tqdm = "*"
pylint = "*"
torch = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "*"
